body{

    font-family: 'Work sans';

}


btn-grande {
    padding: 6px 25px;
}

.btn-light {
    color: #ff3946;
    background-color: #fff;
    box-shadow: 0px 2px 6px 0.3px rgba(0, 0, 0, 0.2);
}

.btn-light:hover {
    color: #fff;
    background-color: #ff3946;
}

.text-blue{
    color: #007bff !important;
}

.button-red-rounded{
    background-color: #ff3946;
    color: #fff;
    border-radius: 15px;
    padding: 10px 30px;
    margin: 10px;
    border: none;
}

.button-red-rounded:hover{
    background-color: #fff;
    color: #ff3946;
    border: 1px solid #ff3946;
}

.button-blue-muted{
    color: #1f4387;
    background-color: transparent;
    border: 0px;
    margin: 5px;
}

.button-blue-muted:hover{
    text-decoration: underline;
}

#imagem-principal{
    height: 500px;
}

#banner h1{
    margin-top: 30%;
}

#principal{
    background-image: url('./background01.png');
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}


#div-secundaria{
    margin-top: 90px;
}

#div-secundaria h1{
   
    font-size: 30px;
    margin-bottom: 30px;
}

.bot-vermelho{
    background-color: #ff3946;
    color: #fff;
    border-radius: 15px;
    padding: 10px 30px;
    margin: 10px;
    border: none;

}

.bot-vermelho:hover{
    background-color: #fff;
    color: #ff3946;
    border: 1px solid #ff3946;
}

.box{
    box-shadow: 0px 3px 4px 2px rgb(0 0 0 / 10%);
    width: 80%;
    margin: 0 auto;
    padding: 20px 30px;
    min-height: 300px;
}

.box img{
    height: 45px;
    margin-bottom: 20px;
}

.box h3 {
   
    font-weight: bold;
    font-size: 22px;
    padding-bottom: 20px;
}

.box p {
    font-size: 12px;
    color: #314584;
}

#div-secundaria h1{ 

font-weight: bold;   

}

footer{

    text-align: center;
    font-family: 'work sans';
    color: #314584;
}
